server:
  port: 8084
spring:
  application:
    name: hotel-ment
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
      url: jdbc:postgresql://localhost:5432/postgres?currentSchema=public
      username: postgres
      password: postgres
      driverClassName: org.postgresql.Driver
    